{{def get_post(post, user_dict, comment_form, single_post=False):}}

{{
author = user_dict[post.author_id]
page_user = user_dict[post.page_id]
}}

<div class="post">
{{if single_post:}}
    <div id="page_title">
        <h1>
            <a href="{{=URL('onthefattrack', 'page', 'index', args=(author.slug,))}}">
                {{=author.get_name}}
            </a>
            &#9656;
            <a href="{{=URL('onthefatrack', 'page', 'index', args=(page_user.slug,))}}">
                {{=page_user.get_name}}
            </a>
        </h1>
    </div>
{{else:}}
    <h4>
        <a href="{{=URL('onthefattrack', 'page', 'index', args=(author.slug,))}}">
            {{=author.get_name}}
        </a>
    </h4>
{{pass}}
    <div class="info">
        <span class="date">
            <a href="{{=URL('onthefattrack', 'page', 'post', args=(post.id))}}">{{=post.date.strftime('on %d %b %Y at %I:%M %p')}}</a> 
        </span> -
        <a class="action" href="" onclick="return showCommentForm(event);">comment</a>
    </div>
    <p>
        {{=MARKMIN(post.text)}}
    </p>

    <div class="comment_form" style="display:none;">
        {{=comment_form}}
    </div>
</div>
{{return}}
