div#posts h4 a
{
    color: #009BBD;
}

div#posts a
{
    text-decoration: none;
}

div#posts a:hover
{
    text-decoration: underline;
}

div#posts span.date
{
    font-size: 75%;
    font-style: italic;
}

div.post
{
    clear: both;
}
