img
{
    margin-bottom: 10px;
}

a, a:active, a:visited 
{
    text-decoration: none;
    color:#009BBD; 
}

a:hover 
{ 
    text-decoration: underline;
    color:#0086A3; 
}

a.action, a.action:active, a.action:visited
{
    text-decoration: underline;
    color: #607890;
}

a.action:hover
{
    color: #036;
}

div.post
{
    clear: both;
}

div.post div.info
{
    font-size: 85%;
    font-style: italic;
}

div.comments
{
    margin-left: 60px;
}

div.comment
{
    background-color: #EBFBFF;
    border-left: 4px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    clear: both;
}
